@import 'base-styles';

.menu-auth {
  display: flex;
  background-color: $color-primary-lighter;

  li {
    padding: $spacing-xl $spacing-m;
    transition: 0.65s ease;

    a {
      display: block;
      color: $color-scale-base-0;
      font-family: $font-default-regular;
    }
  }

  li:hover {
    background-color: $color-scale-base-90;
  }
}
