$color-scale-base-0: #ffffff;
$color-scale-base-5: #f0f1f5;
$color-scale-base-10: #e4e5e9;
$color-scale-base-30: #a7a8ac;
$color-scale-base-50: #696a6d;
$color-scale-base-70: #47484c;
$color-scale-base-90: #121212;
$color-scale-base-100: #000000;

// colors
$color-blue: #0990df;
$color-blue-lighter: #1ba5f5;
$color-blue-darker: #097ec2;

$color-button-primary: #0d3fe4;
$color-button-primary-lighter: #1045f5;
$color-button-primary-darker: #0c3bd3;
$color-button-primary-pressed: #0b30a7;

// base's
$color-base: #14141a;

// primary & secondary
$color-primary: #1a1a20;
$color-primary-lighter: #202027;
$color-primary-darker: #101016;

$color-secondary: #1b4583;
$color-secondary-lighter: #2352a9;
$color-secondary-darker: #192e67;

// alerts
$color-alert-success: #0aad12;
$color-alert-success-lighter: #18d318;
$color-alert-success-darker: #1e8a09;

$color-alert-info: #0a8cad;
$color-alert-info-lighter: #189ed3;
$color-alert-info-darker: #096c8a;

$color-alert-warning: #ad3e0a;
$color-alert-warning-lighter: #d34d18;
$color-alert-warning-darker: #8a2309;

$color-alert-danger: #ad0a0a;
$color-alert-danger-lighter: #d31818;
$color-alert-danger-darker: #8a0909;

