@import 'base-styles';

.menu {
  margin-top: $spacing-m;
  background-color: $color-base;

  &__nav {
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
  }

  &__brand {
    width: 100px;
    display: flex;
    align-items: center;
    background-color: $color-primary-darker;

    a {
      color: $color-scale-base-0;
      margin: 0 auto;
    }
  }

  &__primary {
    display: flex;
    justify-content: flex-start;

    ul {
      display: flex;
      background-color: $color-primary;
    }

    li {
      padding: $spacing-xl $spacing-m;
      transition: 0.65s ease;

      a {
        display: block;
        color: $color-scale-base-0;
        font-family: $font-default-regular;
      }
    }

    li:hover {
      background-color: $color-scale-base-90;
    }
  }
}
