<header class="menu">
  <app-container>
    <nav class="menu__nav">
      <div class="menu__primary">
        <div class="menu__brand">
          <a [routerLink]="['/']">DEV.IO</a>
        </div>

        <ul>
          <li><a href="">Início</a></li>
          <li><a href="">Fornecedores</a></li>
          <li><a href="">Produtos</a></li>
        </ul>
      </div>
      <div class="menu__secondary">
        <ul>
          <li><a [routerLink]="['/account/login']">Entrar</a></li>
          <li><a [routerLink]="['/account/register']">Crie sua conta</a></li>
        </ul>
      </div>
    </nav>
  </app-container>
</header>
